*{
    margin: 0;
    padding: 0;
}
/* h1{
    text-align: center;
     color: white;
     background-color: #000000;
     padding: 3px 2px;
}
p{
    
    font-style: italic;
    color:green;
    background-color: greenyellow;
    width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
input{
    width: full;
    outline: none;
    height: 20px;
} */
 h1{
    text-align: center;

 }

.container{
    width: 500px;
    height: 200px;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:0 auto;
    
}
.container:hover{
    box-shadow: 2px 2px 112px red;

}

.items{
    width: 30px;
    height: 30px;
    background-color: red;
    color:black;
    transition: background-color 1s ease-in-out 0.2s;
}
.items:hover{
    background-color: palevioletred;
    color: red;
    box-sizing: border-box;
}